.main{
    background-color: #fff;
}

.carousel {
    width: 100%;
    max-width: 100%;
    height: 32.7rem;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.carousel-background {
    background: #fff;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 8px 32px rgba(0,0,0,0.35);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: none;
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.carousel-control.prev {
    left: 0.625rem;
}

.carousel-control.next {
    right: 0.625rem;
}

.carousel-indicators {
    position: absolute;
    bottom: 0.625rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.carousel-indicators span {
    width: 0.625rem;
    height: 0.625rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.5);
}
