.events-news-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.events-news-title::after {
    content: "";
    display: block;
    width: 25rem;
    height: 0.3rem;
    background: red;
    border-radius: 2px;
    margin: 0.5rem auto;
}   

.events-news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 97.9%;
    padding: 1rem;
}

.events-news-box {
    position: relative;
    width: 24%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.events-news-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.events-news-box .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 80%);
}

.event-news-section {
    position: absolute;
    top: 0;
    left: 2rem;
    transform: translateX(-50%);
    width: auto;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    z-index: 2;
    transition: transform 0.3s ease;
}

.events-news-box:hover .event-news-section {
    transform: translate(-50%, -120%);
}

.events-news-box .title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    transition: transform 0.3s ease;
    width: 90%;
}

.events-news-box:hover .title {
    transform: translate(-50%, -100%);
}

.events-news {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 1rem;
    font-size: 0.7rem;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 90%;
}

.events-news-box:hover .events-news {
    opacity: 1;
    transform: translate(-50%, -10%);
}

@media (max-width: 990px) {
    .events-news-title {
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        transform: translate(-50%, -90%);
        padding-left: auto;
    }
    .events-news-container {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
    }
    .events-news-box {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .events-news-box img {
        height: 180px;
    }
    .events-news-box,
    .events-news,
    .event-news-section {
        font-size: 0.6rem;
        padding: 0.5rem;
    }
    
}

@media (max-width: 600px) {
    .events-news-title {
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        transform: none;
        left: 0;
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
    }

    .events-news-container {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .events-news-box {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .events-news-box img {
        height: 180px;
    }
    .events-news-box,
    .events-news,
    .event-news-section {
        font-size: 0.6rem;
        padding: 0.5rem;
    }
    
}