.main-footer {
    background: #fff;
    color: #222;
    padding: 3rem 0 0.75rem 0;
    font-family: 'Montserrat', Arial, sans-serif;
    box-shadow: 1px 10px 22px rgba(0, 0, 0, 0.2);
}

.footer-columns.simplified {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    max-width: 75rem;
    width: 100%;    
    margin: 0 auto 0.2rem auto; 
}

.footer-col {
    flex: 1 1 0;
    min-width: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-col.contact-col {
    align-items: flex-end; 
}

.social-icons {
    justify-content: flex-start;
    margin-bottom: 0.2rem;
}

.footer-col.contact-col .social-icons {
    justify-content: flex-end;
}

.footer-col h4 {
    color: #222;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
    position: relative;
}

.footer-col h4::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1875rem;
    background: #ed1c24;
    margin: 0.25rem auto 1rem auto;
    border-radius: 0.125rem;
}

.social-icons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.social-icons img.social-images {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
    background: transparent;
    padding: 0;
    box-shadow: none;
    transition: transform 0.3s, box-shadow 0.3s;
    filter: none;
}

.social-icons img.social-images:hover {
    transform: scale(1.15);
    /* Link do filter: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(22%) sepia(56%) saturate(6688%) hue-rotate(339deg) brightness(91%) contrast(104%);
} 

.contact-col a {
    color: #222;
    text-decoration: underline;
    transition: color 0.3s;
}

.contact-col a:hover {
    color: #ed1c24;
}

.footer-col p {
    margin: 0.3rem 0;
    font-size: 1.1rem;
    text-align: center;
}

.footer-bottom {
    text-align: center;
    color: #ccc;
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 56.25rem) {
    .footer-columns.simplified {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .footer-col {
        min-width: 0;
        width: 100%;
    }
}