.mosaics{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    width: 80%; 
    margin: 0 auto;
}

.img-sec3-1, .img-sec3-3{
    width: 15rem;
    height: 15rem;
    object-fit:cover;
    box-shadow: 2px 2px 5px #888888;
}

.img-sec3-4, .img-sec3-5{
    width: 13rem;
    height: 15rem;
    object-fit:scale-down;
    box-shadow: 1px 1px 5px #888888;
}

.text-mosaic{
    font-size: 0.8rem;
    margin: 1rem;
}
